body {
  max-width: 1000px;
  margin: auto;
  border-width: 5px;
  border-style: solid;
  border-radius: 10px;
  padding: 20px;
  background-color: #354876;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 25px;
  color: #9CEC5B
}


body h1 {
  font-size: 200%;
  margin: 8px;
}
body h3 {
  font-size: 150%;
  margin: 8px;
}
h4 {
  font-size: 120%;
   margin: 8px;
}
h5 {
  font-size: 120%;
  margin: 8px;
}

p {
  font-size: 100%;
  margin: 4px;
}

a {
    /* display: block; */
    color: #9CEC5B;
    /* text-align: center; */
    /* padding: 14px 16px; */
    /* text-decoration: none; */
}

a:hover {
    background-color: #F0F465;
    color: #354876;
}

nav {
  display: inline;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #9CEC5B;
    border-radius: 7px;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #354876;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #F0F465;
}

.review {
  margin: 10px;
  padding: 10px;
  border: 5px solid #9CEC5B;
  background-color: rgba(0, 0, 0, 0.3);
}
.book {
  margin: 10px;
  padding: 10px;
  border: 5px solid #9CEC5B;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

.top-review {
  margin: 15px 40px;
}

.bottom-review {
  margin: 15px 40px;
}
